/*
 * CSS for documentation content.
 */

/* Documentation content base CSS. */

@import 'fonts/ProximaNova.css';

.evo-content {
	margin: 0em 0em;
	font-family: 'Proxima Nova Regular', Helvetica, Arial;
	text-decoration: none;
}

/* Restore standard CSS for documentation content.
   Based on: http://www.w3.org/TR/CSS2/sample.html */

.evo-content address,
.evo-content blockquote,
.evo-content dd,
.evo-content div,
.evo-content dl,
.evo-content dt,
.evo-content fieldset,
.evo-content form,
.evo-content frame,
.evo-content frameset,
.evo-content h1,
.evo-content h2,
.evo-content h3,
.evo-content h4,
.evo-content h5,
.evo-content h6,
.evo-content noframes,
.evo-content ol,
.evo-content p,
.evo-content ul,
.evo-content center,
.evo-content dir,
.evo-content hr,
.evo-content menu,
.evo-content pre		{ display: block; unicode-bidi: embed; clear: none }
.evo-content li			{ display: list-item }
.evo-content head		{ display: none }
.evo-content table		{ display: table }
.evo-content tr			{ display: table-row }
.evo-content thead		{ display: table-header-group }
.evo-content tbody		{ display: table-row-group }
.evo-content tfoot		{ display: table-footer-group }
.evo-content col		{ display: table-column }
.evo-content colgroup	{ display: table-column-group }
.evo-content td,
.evo-content th			{ display: table-cell }
.evo-content caption	{ display: table-caption }
.evo-content th			{ font-weight: bolder; text-align: center }
.evo-content caption	{ text-align: center }
.evo-content body		{ margin: 8px }
.evo-content h1			{ font-size: 2em; margin: .67em 0 }
.evo-content h2			{ font-size: 1.5em; margin: .75em 0 }
.evo-content h3			{ font-size: 1.17em; margin: .83em 0 }
.evo-content h4,
.evo-content p,
.evo-content blockquote,
.evo-content ul,
.evo-content fieldset,
.evo-content form,
.evo-content ol,
.evo-content dl,
.evo-content dir,
.evo-content menu		{ margin: 1.12em 0 }
.evo-content h5			{ font-size: .83em; margin: 1.5em 0 }
.evo-content h6			{ font-size: .75em; margin: 1.67em 0 }
.evo-content h1,
.evo-content h2,
.evo-content h3,
.evo-content h4,
.evo-content h5,
.evo-content h6,
.evo-content b,
.evo-content strong		{ font-weight: bolder }
.evo-content blockquote	{ margin-left: 40px; margin-right: 40px }
.evo-content i,
.evo-content cite,
.evo-content em,
.evo-content var,
.evo-content address	{ font-style: italic }
.evo-content pre,
.evo-content tt,
.evo-content code,
.evo-content kbd,
.evo-content samp		{ font-family: monospace }
.evo-content pre		{ white-space: pre }
.evo-content button,
.evo-content textarea,
.evo-content input,
.evo-content select		{ display: inline-block }
.evo-content big		{ font-size: 1.17em }
.evo-content small,
.evo-content sub,
.evo-content sup		{ font-size: .83em }
.evo-content sub		{ vertical-align: sub }
.evo-content sup		{ vertical-align: super }
.evo-content table		{ border-spacing: 2px; }
.evo-content thead,
.evo-content tbody,
.evo-content tfoot		{ vertical-align: middle }
.evo-content td,
.evo-content th,
.evo-content tr			{ vertical-align: inherit }
.evo-content s,
.evo-content strike,
.evo-content del		{ text-decoration: line-through }
.evo-content hr			{ border: 1px inset }
.evo-content
.evo-content ol,
.evo-content ul,
.evo-content dir,
.evo-content menu,
.evo-content dd			{ margin-left: 40px }
.evo-content ol			{ list-style-type: decimal }
.evo-content ol ul,
.evo-content ul ol,
.evo-content ul ul,
.evo-content ol ol		{ margin-top: 0; margin-bottom: 0 }
.evo-content u,
.evo-content ins		{ text-decoration: underline }
.evo-content br:before	{ content: "\A"; white-space: pre-line }
.evo-content center		{ text-align: center }

/* Begin bidirectionality settings (do not change) */
BDO[DIR="ltr"]  { direction: ltr; unicode-bidi: bidi-override }
BDO[DIR="rtl"]  { direction: rtl; unicode-bidi: bidi-override }

*[DIR="ltr"]    { direction: ltr; unicode-bidi: embed }
*[DIR="rtl"]    { direction: rtl; unicode-bidi: embed }

@media print {
	.evo-content h1		{ page-break-before: avoid }
	.evo-content h1,
	.evo-content h2,
	.evo-content h3,
	.evo-content h4,
	.evo-content h5,
	.evo-content h6		{ page-break-after: avoid }
	.evo-content ul,
	.evo-content ol,
	.evo-content dl		{ page-break-before: avoid }
}

/* CSS for documentation content. */

.evo-page {
	margin: 0 auto;
	max-width: 55em;
	/*color: #222222;*/
	/*border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;*/
}

/* Elements with this class are not displayed, they are
	 not used in the new page layout. */
.evo-heading {
	display: none;
	padding: 0.3em 0 0.3em 0;
	/* background: #FF7F00; */
	/* background: #FF7744; */
	background: rgb(33,70,92);
	color: #EEEEEE;
	font-size: 2.2em;
	font-weight: normal;
	text-align: center;
}

.evo-box {
	margin: 0.5em 0em;
	padding: 0.2em 0.2em;
	/*border: 1px solid #000000;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;*/
	background-color: #FFFFFF;
	font-weight: normal;
}

.evo-content-index {
	float: right;
	width: 30%;
	margin: 1em 0em 1.5em 1.5em;
	padding: 1em 1em 1em 1em;
	border: 1px solid #000000;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
}

.evo-content h1 {
	font-size: 2.2em;
	margin: 0.2em 0;
}

.evo-content h2 {
	font-size: 1.6em;
	margin: 0.2em 0;
}

.evo-content h3 {
	font-size: 1.4em;
	margin: 0.4em 0 0.2em 0;
}

.evo-content a {
	color: #3767A5;
	font-weight: bold;
	text-decoration: none;
}

.evo-content p {
	font-size: 1.0em;
	margin: 0.5em 0;
}

.evo-content ul {
	list-style-type: disc;
	list-style-position: outside;
	margin: 0px 40px 10px 40px;
	padding: 0px;
}

.evo-content ol {
	list-style-type: decimal;
	list-style-position: outside;
	margin: 0px 40px;
	padding: 0px;
}

.evo-content ul {
	display: table;
}

.evo-content .img-example-screenshot {
	width: 250px;
	height: auto;
	border: 1px solid #000000;
}

.evo-content .img-example-arduino-sketch {
	width: 400px;
	height: auto;
}

.evo-content .img-example-platform-support {
	width: auto;
	height: 74px;
	margin-top: 4px;
	margin-right: 5px;
	margin-left: 20px;
	position: relative;
	float: right;
}

/* Assume narrow screen. */
#main-menu-wide {
	display: none;
}
#main-menu-narrow {
	display: block;
}

/* If screen is wide override narrow settings. */
@media all and (min-width: 800px) {
	#main-menu-wide {
		display: block;
	}
	#main-menu-narrow {
		display: none;
	}
}

/* Hide menus when printing the page. */
@media print {
	.evo-content-index {
		display: none !important;
	}
	#main-menu-wide {
		display: none;
	}
	#main-menu-narrow {
		display: none;
	}
}

/* CSS for buttons adopted from Bootstrap. */

.evo-btn {
	/*text-transform: uppercase !important;*/
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.evo-btn:focus,
.evo-btn:active:focus,
.evo-btn.active:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.evo-btn:hover,
.evo-btn:focus {
	color: #333;
	text-decoration: none;
}
.evo-btn:active,
.evo-btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.evo-btn-lg,
.evo-btn-group-lg > .evo-btn {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}

.evo-btn-group,
.evo-btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.evo-btn-group > .evo-btn,
.evo-btn-group-vertical > .evo-btn {
	position: relative;
	float: left;
}
.evo-btn-group > .evo-btn:hover,
.evo-btn-group-vertical > .evo-btn:hover,
.evo-btn-group > .evo-btn:focus,
.evo-btn-group-vertical > .evo-btn:focus,
.evo-btn-group > .evo-btn:active,
.evo-btn-group-vertical > .evo-btn:active,
.evo-btn-group > .evo-btn.active,
.evo-btn-group-vertical > .evo-btn.active {
	z-index: 2;
}
.evo-btn-group > .evo-btn:focus,
.evo-btn-group-vertical > .evo-btn:focus {
	outline: 0;
}
.evo-btn-group .evo-btn + .evo-btn,
.evo-btn-group .evo-btn + .evo-btn-group,
.evo-btn-group .evo-btn-group + .evo-btn,
.evo-btn-group .evo-btn-group + .evo-btn-group {
	margin-left: -1px;
}
.evo-btn-toolbar {
	margin-left: -5px;
}
.evo-btn-toolbar .evo-btn-group,
.evo-btn-toolbar .input-group {
	float: left;
}
.evo-btn-toolbar > .evo-btn,
.evo-btn-toolbar > .evo-btn-group,
.evo-btn-toolbar > .input-group {
	margin-left: 5px;
}
.evo-btn-group > .evo-btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-radius: 0;
}
.evo-btn-group > .evo-btn:first-child {
	margin-left: 0;
}
.evo-btn-group > .evo-btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.evo-btn-group > .evo-btn:last-child:not(:first-child),
.evo-btn-group > .dropdown-toggle:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.evo-btn-group > .evo-btn-group {
	float: left;
}
.evo-btn-group > .evo-btn-group:not(:first-child):not(:last-child) > .evo-btn {
	border-radius: 0;
}
.evo-btn-group > .evo-btn-group:first-child > .evo-btn:last-child,
.evo-btn-group > .evo-btn-group:first-child > .dropdown-toggle {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.evo-btn-group > .evo-btn-group:last-child > .evo-btn:first-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.evo-btn-group-vertical > .evo-btn,
.evo-btn-group-vertical > .evo-btn-group,
.evo-btn-group-vertical > .evo-btn-group > .evo-btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}
.evo-btn-group-vertical > .evo-btn-group > .evo-btn {
  float: none;
}
.evo-btn-group-vertical > .evo-btn + .evo-btn,
.evo-btn-group-vertical > .evo-btn + .evo-btn-group,
.evo-btn-group-vertical > .evo-btn-group + .evo-btn,
.evo-btn-group-vertical > .evo-btn-group + .evo-btn-group {
  margin-top: -1px;
  margin-left: 0;
}
.evo-btn-group-vertical > .evo-btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.evo-btn-group-vertical > .evo-btn:first-child:not(:last-child) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.evo-btn-group-vertical > .evo-btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}
.evo-btn-group-vertical > .evo-btn-group:not(:first-child):not(:last-child) > .evo-btn {
  border-radius: 0;
}
.evo-btn-group-vertical > .evo-btn-group:first-child:not(:last-child) > .evo-btn:last-child,
.evo-btn-group-vertical > .evo-btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.evo-btn-group-vertical > .evo-btn-group:last-child:not(:first-child) > .evo-btn:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.evo-btn-group-justified {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
}
.evo-btn-group-justified > .evo-btn,
.evo-btn-group-justified > .evo-btn-group {
	display: table-cell;
	float: none;
	width: 1%;
}
.evo-btn-group-justified > .evo-btn-group .evo-btn {
	width: 100%;
}

.evo-btn-red {
		color: white !important;
	border-color: #e15a64 !important;
	background-color: #e15a64 !important;
}
.evo-btn-red:hover,
.evo-btn-red:active {
	border-color: #cb414b !important;
	background-color: #cb414b !important;
}

.evo-btn-yellow {
		color: white !important;
	border-color: #ecd53b !important;
	background-color: #ecd53b !important;
}
.evo-btn-yellow:hover,
.evo-btn-yellow:active	{
	border-color: #d9c022 !important;
	background-color: #d9c022 !important;
}

.evo-btn-green {
		color: white !important;
	border-color: #54dfb3 !important;
	background-color: #54dfb3 !important;
}
.evo-btn-green:hover,
.evo-btn-green:active	{
	border-color: #3aca9c !important;
	background-color: #3aca9c !important;
}

.evo-btn-blue {
		color: white !important;
	border-color: #6bc6ce !important;
	background-color: #6bc6ce !important;
}
.evo-btn-blue:hover,
.evo-btn-blue:active	{
	border-color: #52afb8 !important;
	background-color: #52afb8 !important;
}

.evo-btn-indigo {
		color: white !important;
	border-color: #b48b9b !important;
	background-color: #b48b9b !important;
}
.evo-btn-indigo:hover,
.evo-btn-indigo:active {
	border-color: #9c7283 !important;
	background-color: #9c7283 !important;
}

.evo-btn-arctic {
		color: white !important;
	border-color: #f3f3f3 !important;
	background-color: #f3f3f3 !important;
}
.evo-btn-arctic:hover,
.evo-btn-arctic:active {
	border-color: #656565 !important;
	background-color: #656565 !important;
}

.evo-btn-aluminium {
		color: white !important;
	border-color: #e2e2e2 !important;
	background-color: #e2e2e2 !important;
}
.evo-btn-aluminium:hover,
.evo-btn-aluminium:active {
	border-color: #c0c0c0 !important;
	background-color: #c0c0c0 !important;
}

.evo-btn-charcoal {
		color: white !important;
	border-color: #b9b9b9 !important;
	background-color: #b9b9b9 !important;
}
.evo-btn-charcoal:hover,
.evo-btn-charcoal:active	{
	border-color: #9d9d9d !important;
	background-color: #9d9d9d !important;
}
