/*
 * CSS for documentation content.
 */

@import 'fonts/ProximaNova.css';

/*** Begin new elements ***/

html, body
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color: #FFFFFF;
	/*-webkit-text-size-adjust: 100%;*/
}

html
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after
{
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

*:not(input)
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

*
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

a
{
	outline: 0;
}

a
{
	/*color: #CB414B;*/
	text-decoration: none;
	font-weight: 700;
}

.evo-page
{
	/*border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;*/
	font-family: 'Proxima Nova Regular', 'Lato', Helvetica, Arial;
	font-size: 18px;
	text-decoration: none;
}

.evo-page-header
{
	border-bottom: 2px solid #CE2029;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	background: white;
}

.evo-box:target
{
	padding-top: 110px;
	margin-top: -110px;
}

.evo-page-header-menu,
.evo-content
{
	margin: 0px auto;
	max-width: 900px;
	padding-left: 10px;
	padding-right: 10px;
}

.evo-page-header-menu
{
	position: relative;
	padding-top: 10px;
	padding-bottom: 0px;
}

.evo-page-header-spacer
{
	float: right;
	width: 1px;
	height: 30px;
}

.evo-content
{
	clear: both;
	margin-top: 100px;
	padding-top: 1px;
	padding-bottom: 20px;
}

.evo-page-header-menu-logo
{
	width: 120px;
	height: auto;
	margin: 5px 10px 0px 0px;
}

.evo-page-header-menu-buttons
{
	clear: both;
	float: right;
	margin: 20px 0px 0px 0px;
}

.evo-page-header-menu-buttons a
{
	display: inline-block;
	text-decoration: none;
	padding: 0px 0px 10px 10px;
	margin: 0px;
	color: #656565;
	display: inline-block;
	text-transform: uppercase;
	font-size: 110%;
}

.evo-page-header-menu-buttons a:hover
{
	color: #CE2029;
}

.evo-page-header-top-buttons
{
	position: absolute;
	top: 12px;
	right: 10px;
}

.evo-page-header-top-buttons a
{
	display: inline-block;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	/*color: #CC0000;*/
	color: #CE2029;
	display: inline-block;
	text-transform: none;
	font-size: 130%;
}

.evo-page-header-top-buttons a:hover
{
	color: #CE2029;
}

/*** End of new elements ***/

/* Elements with this class are not displayed, they are
	 not used in the new page layout. */
.evo-heading
{
	display: block;
	padding: 0.3em 0 0.3em 0;
	/* background: #FF7F00; */
	/* background: #FF7744; */
	background: rgb(33,70,92);
	color: #EEEEEE;
	font-size: 2.2em;
	font-weight: normal;
	text-align: center;
}

.evo-content-box
{
	margin: 0.5em 0em;
	padding: 0.2em 0em;
	background-color: #FFFFFF;
	font-weight: normal;
}

.evo-box
{
	margin: 0em 0em;
	padding: 0em 0em;
	background-color: #FFFFFF;
	font-weight: normal;
}

.evo-content-index
{
	float: right;
	width: 30%;
	margin: 1.5em 0em 1.5em 1.5em;
	padding: 1em 1em 1em 1em;
	border: 1px solid #000000;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
}

.evo-content-index-subitem
{
	margin-left: 10px;
	display: inline-block;
}

.evo-content h1
{
	font-size: 1.9em;
	margin: 0.5em 0 0.5em 0;
}

.evo-content h2
{
	font-size: 1.6em;
	margin: 1em 0 0.2em 0;
}

.evo-content h3
{
	font-size: 1.4em;
	margin: 0.6em 0 0.2em 0;
}

.evo-content a
{
	color: #CE2029;
	font-weight: bold;
	text-decoration: none;
}

.evo-content p
{
	font-size: 1.0em;
	margin: 0.5em 0;
}

.evo-content ul
{
	list-style-type: disc;
	list-style-position: outside;
	margin: 0px 40px 10px 40px;
	padding: 0px;
}

.evo-content ol
{
	list-style-type: decimal;
	list-style-position: outside;
	margin: 0px 40px;
	padding: 0px;
}

.evo-content ul
{
	display: table; /* Why? */
}

.evo-content .img-example-screenshot
{
	width: 250px;
	height: auto;
	border: 1px solid #000000;
}

.evo-content .img-example-arduino-sketch
{
	width: 400px;
	height: auto;
}

.evo-content .img-example-platform-support
{
	width: auto;
	height: 74px;
	margin-top: 4px;
	margin-right: 5px;
	margin-left: 20px;
	position: relative;
	float: right;
}

.evo-content-side-image-small
{
	float: right;
	width: 200px;
	height: auto;
	margin: 0 0 10px 20px;
}

.evo-content-side-image-large
{
	float: right;
	width: 300px;
	height: auto;
	margin: 0 0 10px 20px;
}

.evo-content-side-box-small
{
	float: right;
	width: 200px;
	height: auto;
	margin: 0 0 10px 20px;
}

.evo-content-side-box-large
{
	float: right;
	width: 300px;
	height: auto;
	margin: 0 0 10px 20px;
}

.evo-content-side-box-small img
{
	width: 100%;
	height: auto;
}

.evo-content-side-box-large img
{
	width: 100%;
	height: auto;
}

.evo-content-side-box-small p
{
	font-size: 80%;
	color: #777777;
}

.evo-content-side-box-large p
{
	font-size: 80%;
	color: #777777;
}

.evo-card-layout
{
    display: block;
    overflow: auto;
    clear: both;
}

.evo-card-layout .evo-card:nth-child(even)
{
    margin-left: 5% !important;
}

.evo-card
{
	display: inline-block;
	vertical-align: top;
    width: 47%;
    overflow: hidden;
    /*min-height: 300px;
    max-height: 400px;*/
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px 0px;
	background: rgb(255,255,255);
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	/*
	padding: 10px 10px;
	border: 1px solid #656565;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	*/
}

.evo-card-image
{
	display: block;
	height: 175px;
	max-width: 300px;
	max-width: 100%;
	object-fit: contain;
	margin: 15px auto;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.evo-card h2
{
	margin: 0px 0px 0px 0px;
	font-size: 125%;
	/*color: #AA0000;*/
}

.evo-card p
{
	margin: 0px 0px 0px 0px;
}

.evo-border-1
{
	border: 1px solid #999999;
}


/* If screen is narrow removed fixed header layout. */
@media all and (max-width: 800px)
{
	.evo-page-header
	{
		position: static;
	}
	.evo-content
	{
		padding-top: 0px;
		margin-top: 0px;
	}
	.evo-box:target
	{
		padding-top: 0px;
		margin-top: 0px;
	}
}

/* If screen is narrow hide content index. */
@media all and (max-width: 800px)
{
	.evo-content-index
	{
		display: none !important;
	}
}

@media all and (max-width: 700px)
{
	.evo-card
	{
    	width: 99%;
    }

    .evo-card-layout .evo-card:nth-child(even)
	{
    	margin-left: 0px !important;
	}

	.evo-content-side-image-small,
	.evo-content-side-image-large,
	.evo-content-side-box-small,
	.evo-content-side-box-large
	{
		display: none;
	}
}


/* Hide menus when printing the page. */
@media print
{
	.evo-content-index
	{
		display: none !important;
	}
	.evo-page-header
	{
		display: none !important;
	}
}
