
@import 'fonts/ProximaNova.css';

body {
	font-family: 'Proxima Nova Regular';
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #FFFFFF;
	/*font-family: sans-serif;*/
	text-decoration: none;
}

h1 {
	font-size: 2.2em;
	margin: 0.2em 0;
}

h2 {
	font-size: 1.6em;
	margin: 0.2em 0;
}

h3 {
	font-size: 1.4em;
	margin: 0.2em 0;
}

p, ul {
	font-size: 1.0em;
	margin: 0.5em 0;
}

a {
	color: #3767A5;
	font-weight: bold;
}

#page {
	margin: 0 auto;
	max-width: 55em;
	color: #222222;
	/*border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;*/
}

#heading {
	display: none;
	padding: 0.3em 0 0.3em 0;
	/* background: #FF7F00; */
	/* background: #FF7744; */
	background: rgb(33,70,92);
	color: #EEEEEE;
	font-size: 2.2em;
	font-weight: normal;
	text-align: center;
}

#content {
	margin: 1em 1em;
}

#article {
}

.box {
	margin: 0.5em 0em;
	padding: 0.2em 0.2em;
	/*border: 1px solid #000000;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;*/
	background-color: #FFFFFF;
	font-weight: normal;
}

.sequence {
	padding: 0em 1em;
	font-style: oblique;
}

.content-index {
	float: right;
	width: 30%;
	margin: 1em 0em 1.5em 1.5em;
	padding: 1em 1em 1em 1em;
	border: 1px solid #000000;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
}

ul {
    display: table;
}

.img-example-screenshot {
	width: 250px;
	height: auto;
	border: 1px solid #000000;
}

.img-example-arduino-sketch {
	width: 400px;
	height: auto;
}

.img-example-platform-support {
	width: auto;
	height: 74px;
	margin-top: 4px;
	margin-right: 5px;
	margin-left: 20px;
	position: relative;
	float: right;
}

.btn {
	/*text-transform: uppercase !important;*/
	/*font-size: 160%;*/
	color: white !important;
}

.et-btn-red {
	border-color: #e15a64 !important;
	background-color: #e15a64 !important;
}
.et-btn-red:hover, .et-btn-red:active {
	border-color: #cb414b !important;
	background-color: #cb414b !important;
}

.et-btn-yellow, #button-restore {
	border-color: #ecd53b !important;
	background-color: #ecd53b !important;
}
.et-btn-yellow:hover, .et-btn-yellow:active  {
	border-color: #d9c022 !important;
	background-color: #d9c022 !important;
}

.et-btn-green {
	border-color: #54dfb3 !important;
	background-color: #54dfb3 !important;
}
.et-btn-green:hover, .et-btn-green:active  {
	border-color: #3aca9c !important;
	background-color: #3aca9c !important;
}

.et-btn-blue {
	border-color: #6bc6ce !important;
	background-color: #6bc6ce !important;
}
.et-btn-blue:hover, .et-btn-blue:active  {
	border-color: #52afb8 !important;
	background-color: #52afb8 !important;
}

.et-btn-indigo, #button-toggle-autoscroll {
	border-color: #b48b9b !important;
	background-color: #b48b9b !important;
}
.et-btn-indigo:hover, .et-btn-indigo:active {
	border-color: #9c7283 !important;
	background-color: #9c7283 !important;
}

.et-btn-arctic {
	border-color: #f3f3f3 !important;
	background-color: #f3f3f3 !important;
}
.et-btn-arctic:hover, .et-btn-arctic:active {
	border-color: #656565 !important;
	background-color: #656565 !important;
}

.et-btn-aluminium, .button-open {
	border-color: #e2e2e2 !important;
	background-color: #e2e2e2 !important;
}
.et-btn-aluminium:hover, .et-btn-aluminium:active {
	border-color: #c0c0c0 !important;
	background-color: #c0c0c0 !important;
}

.et-btn-charcoal {
	border-color: #b9b9b9 !important;
	background-color: #b9b9b9 !important;
}
.et-btn-charcoal:hover, .et-btn-charcoal:active  {
	border-color: #9d9d9d !important;
	background-color: #9d9d9d !important;
}

/*
#left {
	float: left;
	width: 20px;
	height: 50px;
}

#right {
	float: right;
	width: 20px;
	width: 50px;
}

#center {
	background-color: #F00F0F;
	margin: 20px 20px;
}
*/
