/* Common styles for Evothings examples and client. */

body {
	width: 93.5%;
	margin: 0 3.25% 0 3.25%;
	font-size: 300%;
	font-size: 5vmin;
}

/* Add a top margin to the content corresponding to the height of the header. */
body::before {
	height: 3%;
	margin-bottom: 0;
}

button,
input.btn-group + label,
.button {
	font-family: 'Proxima Nova Regular', sans-serif;
	font-weight: normal;
}
